{% extends 'base.html.twig' %}

{% block title %}Ajouter un livre{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm bg-white">
            <div class="card-body">
                <h1 class="text-center mb-4">➕ Ajouter un livre</h1>

                {{ include('book/_form.html.twig') }}

                <div class="text-start mt-3">
                    <a href="{{ path('app_book_index') }}" class="btn btn-outline-secondary">← Retour</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
